/* App.css */
* {
  color: white;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.formulario {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  color: black;
}

.btn-agregar {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: #45a049;
}

.lista-contactos {
  list-style: none;
  padding: 0;
}

.contacto {
  margin-bottom: 8px;
}

.btn-eliminar {
  background-color: #f44336;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: #d32f2f;
}

.btn-ordenar {
  background-color: #2196f3;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.btn-ordenar:hover {
  background-color: #1e88e5;
}

.btn-cancelar {
  background-color: #d32f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn-editar {
  background-color: black;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}